.td-generic-timeline-wrapper{
    overflow: hidden;
    .td-generic-timeline{
        margin-bottom: 4px;
        .td-generic-timeline__row{
            $mobileRowWidth : 90%;
            $titlePosition : (100% - $mobileRowWidth)/2;
            .td-generic-timeline__row__card{
                @media screen and (max-width : 768px){
                    max-width: $mobileRowWidth;
                    margin: auto;;
                }
                position: relative;
                &::before{
                    display: inline-block;
                    content: "";
                    position: absolute;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    transform: translate(-50% , 0);
                    border-left: 1px solid grey;
                    @media screen and (max-width : 767px) {
                        left:0;
                    }
                }
            }
            .td-generic-timeline__row__title{
                color: black;
                display: inline-block;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                @media screen and (max-width : 767px) {
                    left: #{$titlePosition};
                    transform: translate(-50%, 0);;
                }
            }
            
        }
    }
}