
.login-container {
    display: block;
    max-width: 400px;
    margin: auto;
}
  .new-member{
    display: flex;
    flex-direction: column;
    .new-member__title{
      color: grey;
      position: relative;
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
      &:after{
        content: "";
        height: 1px;
        width: 100%;
        #{$start}:0;
        background-color: grey;
        display: inline-block;
        position: absolute;
        bottom: 50%;
      }
      .title{
        background-color: $primary-bg;
        padding: 0 5px;
        z-index: 1;
        position: relative;
        display: inline-block;
        vertical-align: baseline;
      }
    }
  }

