$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "~@/assets/fonts/Icomoon" !default;

$icon-swiper-arrow-filled-path1: "\e91c";
$icon-swiper-arrow-filled-path2: "\e91d";
$icon-swiper-arrow-filled-path3: "\e91e";
$icon-swiper-arrow-filled-path4: "\e91f";
$icon-three-dots: "\e920";
$icon-downline-arrow: "\e919";
$icon-location_1: "\e91a";
$icon-calendar2: "\e91b";
$icon-burger-menu: "\e918";
$icon-category-icon: "\e914";
$icon-left-arrow: "\e915";
$icon-right-arrow: "\e916";
$icon-expand: "\e917";
$icon-Icon-metro-file-image: "\e911";
$icon-Icon-metro-file-pdf: "\e912";
$icon-Icon-ionic-md-folder-open: "\e913";
$icon-long-left-arrow: "\e908";
$icon-rotating-arrow-to-the-right: "\e903";
$icon-dot-shape: "\e906";
$icon-bell-2: "\e907";
$icon-arrow-down-sign-to-navigate: "\e909";
$icon-bell: "\e910";
$icon-attached: "\e90f";
$icon-minus: "\e90b";
$icon-plus: "\e90e";
$icon-phone-icon: "\e90a";
$icon-close-icon: "\e904";
$icon-profile-icon: "\e905";
$icon-contrast-icon: "\e90c";
$icon-search-icon: "\e90d";
$icon-fear: "\e902";
$icon-pin-1: "\e900";
$icon-mail-1: "\e901";

