$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "~@/assets/fonts/Icomoon" !default;

$icon-date: "\e928";
$icon-download: "\e929";
$icon-facebook: "\e92a";
$icon-instagram: "\e92b";
$icon-message: "\e92c";
$icon-world: "\e92d";
$icon-youtube: "\e92e";
$icon-phone: "\e92f";
$icon-tabDefaultIcon: "\e922";
$icon-websiteurl: "\e923";
$icon-clock: "\e924";
$icon-location1: "\e925";
$icon-phone1: "\e926";
$icon-sort: "\e927";
$icon-swiper-arrow-filled-path1: "\e91c";
$icon-swiper-arrow-filled-path2: "\e91d";
$icon-swiper-arrow-filled-path3: "\e91e";
$icon-swiper-arrow-filled-path4: "\e91f";
$icon-three-dots: "\e920";
$icon-downline-arrow: "\e919";
$icon-location_1: "\e91a";
$icon-calendar2: "\e91b";
$icon-burger-menu: "\e918";
$icon-category-icon: "\e914";
$icon-left-arrow: "\e915";
$icon-right-arrow: "\e916";
$icon-expand: "\e917";
$icon-Icon-metro-file-image: "\e911";
$icon-Icon-metro-file-pdf: "\e912";
$icon-Icon-ionic-md-folder-open: "\e913";
$icon-long-left-arrow: "\e908";
$icon-rotating-arrow-to-the-right: "\e903";
$icon-dot-shape: "\e906";
$icon-bell-2: "\e907";
$icon-arrow-down-sign-to-navigate: "\e909";
$icon-bell: "\e910";
$icon-attached: "\e90f";
$icon-minus: "\e90b";
$icon-plus: "\e90e";
$icon-phone-icon: "\e90a";
$icon-close-icon: "\e904";
$icon-profile-icon: "\e905";
$icon-contrast-icon: "\e90c";
$icon-search-icon: "\e90d";
$icon-fear: "\e902";
$icon-pin-1: "\e900";
$icon-mail-1: "\e901";
$icon-external: "\e921";
$icon-left-arrow-long: "\e930";
$icon-right-arrow-long: "\e931";
$icon-Vector: "\e935";
$icon-Vector-1: "\e936";
$icon-attachment: "\e932";
$icon-twitter: "\e933";
$icon-whatsapp: "\e934";
$icon-video-path1: "\e937";
$icon-video-path2: "\e938";
$icon-close-fill: "\e939";
$icon-humans-group: "\e93a";
$icon-up-left-arrow: "\e93b";






