$btns-light: (
  "primary" : white,
  "primary-bg" : map-get($map: $td-light-theme, $key: 'primary' ),
  "secondary" : white,
  "secondary-bg" :map-get($map: $td-light-theme, $key: 'primary-bg' ),
);
$btns-dark: (
  "primary" : black,
  "primary-bg" :white,
  "secondary" : black,
  "secondary-bg" : white,
);
.btn-primary{
    @include define-themes-colors($btns-light , $btns-dark);
    color: var(--primary);
    background-color: var(--primary-bg);
    border-color: var(--primary-bg);
    &:focus , &:hover{
        box-shadow: none;
        color: var(--primary);
        background-color: var(--primary-bg);
        border-color: var(--primary-bg);
    }
}