:root {
  --primary-bg: #f5f7f8;
  --secondary-bg: #ecf0f3;
  --navbar-bg: #ffffff;
  --dark-color: #1e2337;
  --dark-theme-switcher: #1b2033;
}

.dark-mode {
  --primary-bg: #090d1d !important;
  --secondary-bg: #1b2033;
  --navbar-bg: #171c30;
  --dark-color: #ffffff;
  --dark-theme-switcher: #e2ded4;
}

.navbar {
  background-color: var(--navbar-bg);
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  padding: 0 25px !important;

  .navbar-brand {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .navbar-container {
    width: 100%;

    .navbar-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid var(--navbar-border);
      padding: 25px 0;
      font-weight: bold;
      color: var(--dark-color);

      .dark-theme-toggle {
        display: flex;
        align-items: center;

        .theme-title {
          font-size: calc(
            var(--fontModifier) *
              calc(9px + (16 - 9) * ((100vw - 768px) / (1366 - 768)))
          );
          color: var(--dark-color);
        }
        /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 45px;
          height: 20px;
          margin: 0;
          /* Hide default HTML checkbox */
          input {
            opacity: 0;
            width: 0;
            height: 0;

            &:focus + .slider {
              box-shadow: 0 0 1px #2196f3;
            }

            &:checked + .slider {
              &:before {
                -webkit-transform: translateX(27px);
                -ms-transform: translateX(27px);
                transform: translateX(27px);
              }
            }
          }
          /* The slider */
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--dark-theme-switcher);
            -webkit-transition: 0.4s;
            transition: 0.4s;

            &:before {
              position: absolute;
              content: var(--theme-image);
              height: 20px;
              width: 20px;
              left: -1px;
              bottom: 0px;
              background-color: #ffffff;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &.round {
              border-radius: 34px;

              &:before {
                border-radius: 50%;
              }
            }
          }
        }
      }

      .navbar-links-container {
        align-items: center;

        .nav-item {
          .nav {
            .nav-item {
              .nav-link {
                color: var(--dark-color);
              }
            }
          }

          &.social-options {
            margin-right: 40px;

            .nav-link {
              padding: 0 5px;
            }
          }

          &.font-options {
            font-size: calc(var(--fontModifier) * 18px);

            .nav-link {
              padding: 0 10px;
            }

            .reset-font {
              .nav-link {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-refresh {
                  position: absolute;
                  font-size: calc(var(--fontModifier) * 20px);
                }
              }
            }
          }
        }
      }
    }

    .navbar-collapse {
      .navbar-nav {
        padding: 0;

        .nav-item {
          padding: 15px 0 20px;
          margin-left: 20px;

          .nav-link {
            color: var(--dark-color);
            padding: 0;

            &:hover {
              color: #df8b0e;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 25px !important;

    .navbar-brand {
      height: 40px;
      width: 40px;
    }

    .navbar-container {
      .navbar-links {
        padding: 15px 0;

        .dark-theme-toggle {
          .switch {
            width: 30px;
            height: 15px;
          }
        }

        .navbar-links-container {
          .nav-item {
            &.social-options {
              margin-right: 0px;
            }
          }
        }
      }

      .navbar-collapse {
        .navbar-nav {
          padding: 0;

          .nav-item {
            padding: 15px 0 20px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0 25px !important;

    .navbar-brand {
      height: 30px;
      width: 30px;
    }

    .navbar-container {
      .navbar-links {
        padding: 15px 0;

        .dark-theme-toggle {
          .switch {
            width: 30px;
            height: 15px;
          }
        }

        .navbar-links-container {
          display: none;
        }

        .navbar-toggler {
          border: 1px solid #000;
          padding: 0;
          border-radius: 0;
          outline: none;
          background-color: #09c;
        }
      }

      .navbar-collapse {
        .navbar-nav {
          padding: 0;

          .nav-item {
            padding: 10px 0;
            margin-left: 0;
          }
        }
      }
    }
  }
}
