<article class="td-generic-card td-generic-card--horizontal td-generic-card--bg-img">
    <header class="td-generic-card__header td-generic-card__header--error">
      <div class="td-generic-card__header-upper placeholder-glow">
        <div class="td-generic-card__header-upper__start">
          <img :src="itemDataModel.thumbnailUrl" alt="card source" v-if="!lazyLoad" />
          <span
            class="td-generic-card__header-upper__start-source label--error"
            v-if="!lazyLoad">{{ itemDataModel.id }}</span
          >
          <span class="placeholder img-circle" v-if="lazyLoad" />
        </div>
      </div>
      <div class="td-generic-card__header-bottom placeholder-glow">
        <a :href="itemDataModel.url" v-if="!lazyLoad">
          <h3>{{ itemDataModel.title }}</h3>
        </a>
        <a href="#" class="placeholder-glow" v-if="lazyLoad">
            <h3 class="placeholder col-9"></h3>
        </a>
        <div class="td-generic-card__header-bottom__extra-info" v-if="lazyLoad">
            <span class="placeholder col-4"></span>
            <span class="td-generic-card__header-bottom__tag placeholder col-4"></span>
        </div>
        <div class="td-generic-card__header-bottom__extra-info" v-if="!lazyLoad">
          <span>رياضة . منذ ساعتين</span>
          <span class="td-generic-card__header-bottom__tag">شاهد التصحيح</span>
        </div>
      </div>
    </header>
    <div class="td-generic-card__image-container placeholder-glow">
      <a :href="itemDataModel.url" v-if="!lazyLoad" v-lazyload>
        <img :data-url="itemDataModel.url" data-default="https://i.picsum.photos/id/580/100/100.jpg?hmac=Iy12pK-jifw7-kSPz1TVjZ5UOhbI9NDMILFEKNdygzA" src="@/assets/spinner.gif" alt="card image" />
      </a>
      <a href="#" class="placeholder" v-if="lazyLoad">
          <span></span>
      </a>
    </div>
  </article>
  
