.custom-input {
    background: transparent !important;
    border-radius: 19px !important;
    padding: 10px 10px !important;
    padding-#{$start}: 35px !important;
    /* box-sizing: border-box; */
    border-color: var(--blue) !important;
    position: relative;
}