@font-face {
    font-family: Poppins;
    src: url('~@/assets/fonts/poppins/Poppins-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('~@/assets/fonts/poppins/Poppins-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url('~@/assets/fonts/playFairDisplay/PlayfairDisplay-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url('~@/assets/fonts/playFairDisplay/PlayfairDisplay-Regular.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Almarai;
  src: url('~@/assets/fonts/Almarai/Almarai-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Almarai-Bold;
  src: url('~@/assets/fonts/Almarai/Almarai-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

