
@import "./mixins/animation";
@import "./mixins/style";
@import "./mixins/responsive";
@import "./mixins/fonts";
@import "./mixins/colors";
@use "sass:map";
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width){
        $width: map_get($breakpoints, $width);
    }

    @if $type == max {
        $width: $width + 1px;
    }

    @media only screen and (#{$type}-width: $width){
        @content;
    }

}
@mixin selected($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  color: $textColor;
}
@mixin add-aspect($ratio) {
  &:before{
      content: "";
      display: block;
      padding-top: ($ratio) * 100%;
  }
}
