/* built in modules*/
@use "sass:map";
/* built in modules*/

:root {
    --fontModifier: 1;
    --blue-background-color: #28cede;
  --black-nav-menu-color: #051d40;
  --body-background-color: #fffaf2;
  --font-modifier: 1;
  --main-bg: #fffbf2;
  --blue: #051d40;
  --gold: #c19508;
  --subtitle-black: #131313;
  --dark--grey-color: #554c2e;
  --baby-blue: #91d0d6;
  --copyRights-bg: #1036a5;
  --orangeColor: #ff5643;
  --whiteColor: #fff;
  --greyColor: #e3e3e3;
  --darkGreyColor: #656565;
  --terquois: #2accde;
  --anchor: #2895de;
  --greyAttached: #a2a9c8;
  --greyBorder: #dbdbdb;
  --tabsGreyBg: #dcd9d1;
  --tabDetailsBg: #f0ebe5;
  --tabsTitles: #4d4d4d;
  --tabsHover: #f0ebe4;
  --black: #000000;
  --cardBorder: #e4e9f2;
  --yellowColor: #f9de6d;
  --cardText: #011727;
}

.invert-color {
    --terquois: #000;
    --copyRights-bg: #373737;
    --gold: #373737;
    /****************/
    --blue-background-color: #373737;
    --black-nav-menu-color: #000000;
    --body-background-color: #ffffff;
    --dark--grey-color: #000000;
    --subtitle-black: #000000;
    --cardText: #011727;
    --orangeColor: #000000;
    /*--primary-second-color: #f5f7f8;
    --primary-third-color: #f5f7f8;
    --primary-fourth-color: #f5f7f8;
    --primary-fifth-color: #f5f7f8;*/
  /* Custom filter for specific icons */
  .header .navbar-brand img,
  footer .footerContainer .logoContainer__logo img {
    filter: grayscale(1);
  }
  footer .footerContainer .logoContainer__logo img {
    filter: greyscale(1) !important;
  }
  .socialMedia img {
    filter: grayscale(1);
  }
  footer .newsLetter {
    &::before {
      position: absolute;
      content: "";
      background: #000;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      top: 0;
    }

    &__body {
      &__form {
        &__input[type="text"] {
          &:disabled {
            background: var(--whiteColor);
          }
        }
      }
    }
  }
  footer .footerContainer .logoContainer__hotline i::before {
    color: #000;
  }
  .primary-btn {
    background: #fff;
    color: #000;
  }
/*  .article__wrapper__img {
    filter: grayscale(1);
  }*/
  /*.imgCard__wrapper {
    filter: grayscale(1);
  }*/
  .downloadCardWrapper .downloadCard__icon {
    background: #000;

    i {
      color: #fff;
    }
  }
  .searchBox__wrapper > i {
    color: #000;
  }
 /* .coverImg {
    filter: grayscale(1);
  }*/
}

/***Responsive variables***/
$breakpoints: (
    "phone": 375,
    "phablet": 766,
    "ipad": 1023,
    "ipad-pro": 1024,
    "desktop": 1366,
    "desktop-wide": 1920,
);
/***Responsive variables***/
/*** fonts***/
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
/*** fonts***/
/*** Colors***/
$normaModeColors : (
    "primary-bg" : #f5f7f8 ,
    "secondary-bg" :#ecf0f3 ,
    "navbar-bg": #ffffff ,
    "dark-color": #1e2337 ,
    "dark-theme-switcher":#1b2033
);
$darkModeColors : (
    "primary-bg" : #090d1d,
    "secondary-bg" :#1b2033, 
    "navbar-bg" : #171c30 ,
    "dark-color" : #ffffff ,
    "dark-theme-switcher" : #e2ded4
);

@mixin set-main-colors( $colors ) {
    $primary-bg : map-get($map:$colors ,  $key: "primary-bg")!global;
    $secondary-bg :map-get( $map: $colors , $key:  "secondary-bg")!global;
    $navbar-bg :map-get( $map: $colors , $key:  "navbar-bg")!global;
    $dark-color :map-get( $map: $colors , $key:  "dark-color")!global;
    $dark-theme-switcher :map-get( $map: $colors , $key:  "dark-theme-switcher")!global;
}
@mixin normal-mode($modeColors : $normaModeColors) {
    @include set-main-colors($modeColors);
}
@mixin dark-mode($modeColors : $darkModeColors) {
    @include set-main-colors($modeColors);
}

@mixin dark-mode--force {
    @include set-all-item-proprties( ( "color" : $dark-color , "background-color": $primary-bg ) );
}
@mixin set-all-item-proprties( $properties){
    @each $property , $value in $properties {
        @include set-all-item-proprty($property , $value  , $isImprtant : true );
    }
}
@mixin set-all-item-proprty( $property , $value  , $isImprtant : false ){
    @if $isImprtant {
        $value : #{$value + '!important'};
      }
    div , p , label ,  span , a , h1, h2 , h3 , h4 , h5 , h6 , main , footer , header , ul , li , button , section {
        #{$property}:$value;
    }  
}
/*** Colors***/
