
.header{
    /*reseting bootstrab*/
    a , .nav-link{
    color: inherit;
    }
    .dropdown-toggle {
    &:after {
        display: none;
    }
    }
    .dropdown-item:focus, .dropdown-item:hover{
        background-color: transparent;
    }
    h1 , h2 , h3 , h4 , h5 , h6 {
    margin-bottom: 0;
    }
    /*reseting bootstrab*/
}
/*define custom colors for headers*/
.header{
    --header-color: #F16100;
    --header-bg: black;
    --header-logo-color: white;
    --header-links: white;
}
.invert-color{
    .header{
        --header-color: black;
        --header-bg: white;
        --header-logo-color: black;
        --header-links: black;
    }
}
/*define custom colors for headers*/
/* define variables */
$headerBg : var(--header-bg);
$headerColor:var(--header-color);
$headerlogoColor:var(--header-logo-color);
$headerLinks : var(--header-links);
/* define variables */
.header {
  background-color: $headerBg;
  color: $headerColor;
  border-bottom: 1px solid $headerColor;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  &.header--is-ready {
      .header__content__nav-menu {
          .navbar-nav {
              visibility: visible;
          }
      }
  }
  .navbar-nav {
      flex-wrap: wrap;
      .nav-item--more-dropdown {
          display: none;
          &.nav-item--more-dropdown--show-more {
              display: list-item;
          }
      }
  }

  &.header--mobile {
      display: none;
  }
  .navbar {
      padding: 0;
      .container{
          flex-wrap:wrap;
        row-gap: 10px;
      }
  }
  .navbar-brand {
      padding: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      img {
          max-height: 40px;
          margin-top: 0;
      }
      .logo-mark{
          display: flex;
            flex-direction: column;
            line-height: 1;
            font-size: 30px;
            font-weight: 900;
            color: $headerlogoColor;
            margin-#{$start} :20px;
            .logo-mark__title{
                font-weight: inherit;
                line-height: 0.87;
                font-size: inherit;
            }
            .logo-mark__subtitle{
                font-size: 16px;
                font-weight: normal;
                line-height: 0.88;
            }
      }
  }
  .header__content__nav-menu {
    display: flex;
    justify-content: center;
  width: 100%;
  width: calc(100% - 40px);
  .dropdown-menu  {
      background-color: $headerBg;
    li{
        position: relative;
    }
  }

  .dropdown-menu .submenu {
      display: none;
      position: absolute;
      #{$start}: 100%;
      top: -7px;
      .dropdown-item{
        color: $headerColor;
    }

  }

  .dropdown-menu .submenu-left {
      #{$end}: 100%;
      #{$start}: auto;
  }

  .dropdown-menu > li:hover > .submenu {
      display: block;
  }

  .navbar-nav {
      white-space: nowrap;

      > .nav-item {
          margin: 0 10px;
          position: relative;

          &.nav-item--more-dropdown {
              .submenu {
                  #{$end}: 100%;
                  #{$start}: auto;
              }

              > .dropdown-menu {
                  #{$end}: 0;
                  #{$start}: auto;
              }

              .nav-link--more-style {
                  font-size: calc(
                    var(--fontModifier) * 14px + (18 - 14) *
                      ((100vw - 768px) / (1366 - 768))
                  );
                  line-height: 25px;
                  white-space: normal;
              }
          }

          .submenu--last-item {
              /*box-shadow: 0px 1px 3px 5px #6c5e5e29 !important;*/
              /*border-radius: 10px;*/
          }

          &.dropdown {
              > .nav-link {
                  padding-#{$end}: 13px;

                  &:before {
                      position: absolute;
                      top: 0;
                      #{$end}: 0;
                      font-family: "icomoon";
                      content: "\e909";
                      transition: 0.2s all ease-in-out;
                      font-size: 7px;
                  }
              }
          }

          > .nav-link {
              font-size: calc(
                var(--fontModifier) * 14px + (18 - 14) *
                  ((100vw - 768px) / (1366 - 768))
              );
              line-height: 25px;
              padding: 0;
              position: relative;
              &:hover, &:focus, &:active {
                  color: $headerColor;

                  &:before {
                      transform: rotate(180deg);
                  }
              }
          }

          .dropdown-menu {
              margin-top: 0;
              box-shadow: 0px 3px 3px #00000029;
              border-radius: 0px 0px 10px 10px;
              border: none;
              border-top: 2px solid $headerColor;
              width: 225px;
              padding: 0;
              li:last-child{
                >.dropdown-item{
                      border-radius: 0px 0px 10px 10px;
                }
            }
            .submenu{
                li:last-child{
                    >.dropdown-item{
                        border-radius: 0px 0px 10px 10px;
                    }
                }
            }
              /*border radius*/
              .dropdown-item__has-child {
                  position: relative;
                  &:before {
                      position: absolute;
                      top: 0;
                      #{$end}: 0;
                      font-family: "icomoon";
                      content: "\e909";
                      transition: 0.2s all ease-in-out;
                      font-size: 7px;
                      transform: rotate(90deg);
                      height: 100%;

                      @if $direction == ltr {
                          transform: rotate(270deg);
                      }
                      @else {
                          transform: rotate(90deg);
                      }
                  }
              }
          }

          > .dropdown-menu {
              color: inherit;
              li {
                  .dropdown-menu {
                      border: none;
                      margin-top: 7px;
                  }

                  &:hover, &:active, &:focus {
                      > a {
                          background-color: #F2F2F2;
                          color: $headerColor;
                      }
                  }

                  .dropdown-item {
                      font-size: calc(
                        var(--fontModifier) * 14px + (18 - 14) *
                          ((100vw - 768px) / (1366 - 768))
                      );
                      line-height: 25px;
                      white-space: normal;
                      padding: 0.5rem 0.5rem;
                  }
              }
          }
      }
  }
}
  .header__links {
      color: $headerLinks;
      display: flex;
      flex-direction: column;
      align-items: end;
      .header__content__accessibility {
          width: 100%;
          flex-direction: row-reverse;
          .navbar-nav {
              .headercomponentlogic {
                  display: flex;

                  .nav-item {
                      &:last-child {
                          margin-#{$end}: 20px;
                      }

                      &.nav-item--show-in-mobile {
                          display: none !important;
                      }
                      .nav-item.nav-item--hide{
                        display: none !important;
                      }
                  }
              }

              .nav-item {
                  margin: 0 20px;
                  display: flex;
                  align-items: center;
                  &.dropdown-menu--font-parent {
                      li {
                          a {
                              padding: 5px 20px !important;
                          }
                      }
                  }

                  &.dropdown-menu--font-parent, &.nav-item--language-switcher {
                      li {
                          height: 100%;
                      }

                      a {
                          font-family: 'Tajawal' !important;
                          direction: ltr;
                          font-size: calc(
                            var(--fontModifier) * 18px + (25 - 18) *
                              ((100vw - 768px) / (1366 - 768))
                          );


                          span {
                              &:before {
                                  font-size: 21.5px;
                              }
                          }

                          span {
                              transform: rotateY( 180deg);
                              display: inline-flex;
                          }
                      }

                      .dropdown-menu--font {
                          
                          padding: 0;
                          background-color: $headerBg;
                          color: inherit;
                          border-width: 1px;
                          margin-top: 10px;
                          box-shadow: -1px 1px 3px #00000029;
                          margin-#{$start}: -20px;
                          #{$end}: 0;
                          #{$start}: unset;
                          &.show {
                              display: flex;
                              flex-direction: row;
                          }
                      }
                  }

                  &:last-child {
                      margin-#{$end}: 0;
                  }

                  .nav-link {
                      padding: 0;
                      font-size: calc(
                        var(--fontModifier) * 18px + (24 - 18) *
                          ((100vw - 768px) / (1366 - 768))
                      );
                      display: inline-flex;
                      transition: 0.2s all ease-in-out;

                      &.constrast-icon {
                        cursor: pointer;
                      }

                      span {
                          display: inline-flex;

                          &:before {
                              color: var(--black-nav-menu-color);
                          }

                          &.icon-search-icon {
                              &:before {
                                  font-size: 20.5px;
                              }
                          }

                          &.icon-contrast-icon {
                              &:before {
                                  font-size: 22.5px;
                                  color: inherit;
                              }
                          }

                          &.icon-profile-icon {
                              &:before {
                                  font-size: 25px;
                                  color: inherit;
                              }
                          }

                          &.icon-bell {
                              &:before {
                                  font-size: 25px;
                              }
                          }

                          &.icon-arrow-down-sign-to-navigate {
                              display: flex;
                              align-items: center;
                              padding-top: 3px;
                              margin-#{$start}: 4px;

                              &:before {
                                  font-size: 7px;
                              }
                          }

                          &.icon-dot-shape {
                              &:before {
                                  font-size: 12px;
                                  color: #FF5643;
                                  margin-#{$end}: -20px;
                                  padding-top: 1px;
                                  z-index: 5;
                              }
                          }
                      }

                      &:hover, &.show {
                          color: $headerColor;

                          span {
                              color: $headerColor;

                              &:before {
                                  color: $headerColor;
                              }
                          }
                      }
                  }

                  .dropdown-menu {
                      min-width: auto;
                      padding: 5px 0;
                      border: none;
                      box-shadow: 0px 3px 3px #00000029;
                      border-radius: 0px 0px 5px 5px;
                      outline: unset;
                      border-top: 2px solid $headerColor;
                      
                      li {
                          a {
                              color: inherit;
                              padding-top: 0;
                              padding-bottom: 0;
                              padding: 3px 10px;

                              &:focus, &:active, &:hover {
                                  //background-color: #F2F2F2;
                                  color: $headerColor;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
.header-top-spacer{
    padding-top: 87px;
}
@media(max-width:1024px) {
    .header {
        padding: 10px 0;
        padding-bottom: 0;

        .navbar-brand {
            margin-bottom: 0;
            margin-top: 0;

            img {
                max-width: 60px;
                max-height: 60px;
                margin-top: 0;
            }
        }
        .header__content__nav-menu {
            margin-top: 16px;
            width: calc(100% - 15px);

            .navbar-nav {
                > .nav-item {
                    margin: 0 15px;

                    &.nav-item--more-dropdown {
                        .nav-link--more-style {
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }

                    &.dropdown {
                        > .nav-link {
                            &:before {
                                font-size: 5px;
                            }
                        }
                    }

                    > .nav-link {
                        font-size: 12px;
                    }

                    .dropdown-menu {
                        width: 160px;
                        margin-top: 0;

                        .dropdown-item__has-child {

                            &:before {
                                font-size: 6px;
                                #{$end}: 4px;
                            }
                        }

                        li {
                            .dropdown-item {
                                font-size: 12px;
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }
        .header__links {
            padding-top: 10px;
            .header__content__accessibility {
                .navbar-nav {
                    .nav-item {
                        margin: 0 12px;

                        &:last-child {
                            margin-#{$end}: 0;
                        }

                        .nav-link {
                            font-size: 12px;

                            span {
                                &.icon-search-icon {
                                    &:before {
                                        font-size: 12px;
                                    }
                                }

                                &.icon-contrast-icon {
                                    &:before {
                                        font-size: 12px;
                                    }
                                }

                                &.icon-profile-icon {
                                    &:before {
                                        font-size: 14px;
                                    }
                                }

                                &.icon-bell {
                                    &:before {
                                        font-size: 14px;
                                    }
                                }

                                &.icon-dot-shape {
                                    &:before {
                                        font-size: 6px;
                                    }
                                }
                            }
                        }

                        .dropdown-menu {
                            padding: 5px 0;

                            li {
                                a {
                                    font-size: 15px;
                                    padding: 8px 15px !important;
                                }
                            }
                        }

                        &.dropdown-menu--font-parent, &.nav-item--language-switcher {
                            span {
                                &:before {
                                    font-size: 10.5px !important;
                                }
                            }

                            a {
                                font-size: 15px;
                            }

                            .dropdown-menu--font {
                                padding: 5px 0;
                                margin-#{$start}: -14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:767px) {
    .header {
        &.header--mobile {
            display: flex !important;
            padding: 18px 0;
            position: sticky;
            top: 0;
            z-index: 10;

            &.header--mobile__show-nav {
                .header--mobile_wrapper {

                    .header--mobile_wrapper__menu {
                        button {
                            min-height: 32px;

                            span {
                                &.icon-burger-menu {
                                    display: none;
                                }

                                &.icon-close-icon {
                                    display: inline-flex;

                                    &:before {
                                        color: var(--copyRights-bg);
                                        font-size: 14.5px;
                                    }
                                }
                            }
                        }
                    }

                    .header--mobile_wrapper__title {
                        visibility: hidden;
                    }

                    .header--mobile_wrapper__notification {
                        .header--mobile_wrapper__language-switcher {
                            display: inline-flex;
                            font-size: 24px;
                            padding: 0;
                        }

                        .header--mobile_wrapper__notification__wrapper {
                            display: none;
                        }
                    }
                }
            }

            .header--mobile_wrapper {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 100%;

                .header--mobile_wrapper__menu {
                    height: 100%;
                    align-items: start;
                    display: flex;
                    padding-top: 8px;

                    button {
                        outline: none !important;
                        box-shadow: none !important;
                        border: none !important;
                        background-color: transparent;
                        color: $headerColor;
                        padding: 0;

                        span {
                            &:before {
                                font-size: 27px;
                            }

                            &.icon-close-icon {
                                display: none;
                            }
                        }
                    }
                }

                .header--mobile_wrapper__title {
                    padding: 0 15px;
                    text-align: center;
                    img {
                        height: 30px;
                        padding: 0 10px;
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                    }

                    h1 {
                        font-size: 16px;
                        color: var(--black-nav-menu-color);
                        line-height: 22px;
                        margin: 0;
                    }
                }

                .header--mobile_wrapper__notification {
                    height: 100%;
                    align-items: start;
                    display: flex;
                    padding-top: 11px;

                    a {
                        text-decoration: none !important;
                        display: inline-flex;
                        color: var(--black-nav-menu-color);

                        span {
                            display: inline-flex;

                            &.icon-bell {
                                &:before {
                                    font-size: 20.6px;
                                }
                            }

                            &.icon-dot-shape {
                                &:before {
                                    font-size: 10px;
                                    color: #FF5643;
                                    margin-#{$end}: -10px;
                                    padding-top: 2px;
                                    z-index: 5;
                                }
                            }
                        }
                    }

                    .header--mobile_wrapper__language-switcher {
                        display: none;
                    }
                }

                .offcanvas {
                }

                .modal-backdrop {
                    z-index: -1;
                    opacity: 0 !important;
                }
            }

            .header--mobile_canvas {
                max-width: 80vw;
                box-shadow: -1px 3px 6px #00000029;


                .offcanvas-body {
                    scrollbar-width: thin;
                    scrollbar-color: #444343 #1e1e1e;
                    /*49px is for search height & 70px is for search margin bottom*/
                    position: relative;


                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        /*background: #CFD8DC;*/
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #444343;
                        border-radius: 0px;
                        /*border: 3px solid #CFD8DC;*/
                    }

                    .offcanvas__logo {
                        display: flex;
                        justify-content: center;
                        margin-block: 15px;

                        img {
                            max-width: 140px;
                            max-height: 140px;
                        }
                    }

                    .offcanvas__search {
                        margin-block: 20px;

                        form {
                            position: relative;

                            input {
                                width: 100%;
                                border: 0.5px solid #707070;
                                color: #4D4D4D;
                                border-radius: 2px;
                                outline: none;
                                box-shadow: none;
                                font-size: 16px;
                                line-height: 22px;
                                padding: 8.2px;
                                padding-#{$end}: 30px;
                                padding-#{$start}: 13px;
                            }

                            span {
                                position: absolute;
                                #{$end}: 10px;
                                height: 100%;
                                display: flex;
                                top: 0;
                                align-items: center;
                            }
                        }
                    }

                    .offcanvas__profile {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 17px;

                        .offcanvas__profile__login, .offcanvas__profile__register {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            position: relative;

                            a {
                                color: #4D4D4D;
                                font-size: 16px;
                                line-height: 22px;
                                text-decoration: none;
                                display: inline-flex;

                                span {
                                    &:not(.icon-profile-icon) {
                                        margin: 0 8px;
                                    }

                                    &:before {
                                        font-size: 23px;
                                        color: #000000;
                                    }
                                }
                            }
                        }

                        .offcanvas__profile__register {
                            &:before {
                                content: "";
                                position: absolute;
                                #{$start}: 0;
                                height: 70%;
                                width: 1px;
                                background-color: #4D4D4D;
                                z-index: 1;
                            }
                        }
                    }

                    .offcanvas__utilities {
                        headercomponentlogicloaderformobile {
                            .nav-item--show-in-desktop {
                                display: none !important;
                            }

                            .nav-item--show-in-mobile {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                max-width: 260px;
                                border: 0.5px solid #E4E9F2;
                                border-radius: 2px;
                                margin: auto;
                                margin-bottom: 30px;
                                height: 100%;

                                li {
                                    position: relative;
                                    width: 25%;
                                    display: flex;
                                    justify-content: center;
                                    height: 100%;

                                    a {
                                        padding: 11px;
                                        font-size: 22px;
                                        line-height: 30px;
                                        color: var(--dark--grey-color);
                                        text-decoration: none;
                                        font-family: 'Tajawal' !important;

                                        span {
                                            transform: rotateY( 180deg);
                                            display: inline-flex;

                                            &:before {
                                                font-size: 17px;
                                            }
                                        }
                                    }

                                    &:not(:last-child) {
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            #{$end}: 0;
                                            height: 50%;
                                            top: 25%;
                                            width: 1px;
                                            background-color: #E4E9F2;
                                            z-index: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .offcanvas__menu {
                        .card-body {
                            border: none;
                            padding: 0;
                        }

                        .single-item__wrapper {
                            border-bottom: 1px solid #F9FAFB;
                        }

                        .single-item {
                            a {
                                font-size: 18px;
                                line-height: 25px;
                                color: var(--black-nav-menu-color);
                                display: block;
                                position: relative;
                                background-color: white;
                                border: none;
                                padding: 20px 0;
                                padding-#{$end}: 20px;
                                position: relative;
                                text-decoration: none;
                                text-align: #{$start};
                                outline: none;
                                box-shadow: none;

                                &.btn-primary {
                                    &:not(.collapsed) {
                                        color: $headerColor;

                                        &:before {
                                            color: $headerColor;
                                            transform: rotate( 180deg);
                                        }
                                    }
                                }
                            }

                            &.single-item__first-level {
                                &:not(:last-child) {
                                    /* border-bottom: 1px solid #F9FAFB;*/
                                }
                            }

                            &.single-item__second-level {
                                &:first-child {
                                    a {
                                        padding-top: 0;
                                    }
                                }

                                a {
                                    font-size: 16px;
                                    line-height: 22px;
                                    padding: 7.5px 0;
                                }
                            }

                            &.single-item__third-level {

                                a {
                                    font-size: 14px;
                                    line-height: 19px;
                                    padding: 7.5px 0;
                                }
                            }

                            &.single-item__has-child {
                                a {
                                    &:before {
                                        position: absolute;
                                        #{$end}: 0;
                                        font-family: "icomoon";
                                        content: "\e909";
                                        transition: 0.2s all ease-in-out;
                                        font-size: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.header--desktop {
            display: none;
        }
    }
}
@media(min-width:1200px) {
    .header {
            .header__content__nav-menu {
                .navbar-nav {
                    > .nav-item--first-node-level {
                        &:hover {
                            > .submenu {
                                display: block;
                            }
                        }
                    }

                    .nav-item--more-dropdown {
                        &:hover {
                            .nav-item--more-dropdown__main-node {
                                display: block;
                            }
                        }
                    }
                }
            }
    }
}
