.header {
  background-color: var(--whiteColor);
  padding: 20px 0;
  padding-bottom: 0;
  border-bottom: 1px solid var(--blue-background-color);
  &.header--is-ready {
      .header__content__nav-menu {
          .navbar-nav {
              visibility: visible;
          }
      }
  }

  .navbar-nav {
      flex-wrap: wrap;

      .nav-item--more-dropdown {
          display: none;

          &.nav-item--more-dropdown--show-more {
              display: list-item;
          }
      }
  }

  &.header--mobile {
      display: none;
  }

  .navbar {
      padding: 0;
  }

  .navbar-brand {
      padding: 0;
      margin-bottom: 0;

      img {
          max-width: 110px;
          max-height: 110px;
          margin-top: -20px;
      }
  }

  .header__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;

      .header__content__nav-menu {
          width: 100%;
          margin-top: 38px;
          width: calc(100% - 40px);

          .dropdown-menu li {
              position: relative;
          }

          .dropdown-menu .submenu {
              display: none;
              position: absolute;
              #{$start}: 100%;
              top: -7px;
          }

          .dropdown-menu .submenu-left {
              #{$end}: 100%;
              #{$start}: auto;
          }

          .dropdown-menu > li:hover {
              //background-color: #f1f1f1
          }

          .dropdown-menu > li:hover > .submenu {
              display: block;
          }

          .navbar-nav {
              white-space: nowrap;

              > .nav-item {
                  margin: 0 32px;
                  position: relative;
                  .nav-link {
                    color: var(--blackColor);
                  }
                  &.nav-item--more-dropdown {
                      .submenu {
                          #{$end}: 100%;
                          #{$start}: auto;
                      }

                      > .dropdown-menu {
                          #{$end}: 0;
                          #{$start}: auto;
                      }

                      .nav-link--more-style {
                            color: var(--blackColor);
                          font-size: calc(
                            var(--fontModifier) * 14px + (18 - 14) *
                              ((100vw - 768px) / (1366 - 768))
                          );
                          line-height: 25px;
                          white-space: normal;
                      }
                  }

                  .submenu--last-item {
                      /*box-shadow: 0px 1px 3px 5px #6c5e5e29 !important;*/
                      /*border-radius: 10px;*/
                  }

                  &.dropdown {
                      > .nav-link {
                          padding-#{$end}: 13px;

                          &:before {
                              position: absolute;
                              top: 0;
                              #{$end}: 0;
                              font-family: "icomoon";
                              content: "\e909";
                              transition: 0.2s all ease-in-out;
                              font-size: 7px;
                          }
                      }
                  }

                  > .nav-link {
                      font-size: calc(
                        var(--fontModifier) * 14px + (18 - 14) *
                          ((100vw - 768px) / (1366 - 768))
                      );
                      color: var(--blackColor);
                      line-height: 25px;
                      padding: 0;
                      position: relative;
                      padding-bottom: 9px;

                      &:hover, &:focus, &:active {
                          color: #C19508;

                          &:before {
                              transform: rotate(180deg);
                          }
                      }
                  }

                  .dropdown-menu {
                      margin-top: 0;
                      box-shadow: 0px 3px 3px #00000029;
                      border-radius: 0px 0px 10px 10px;
                      border: none;
                      border-top: 2px solid #C19508;
                      width: 225px;
                      padding-bottom: 10px;
                      padding-top: 0;

                      .dropdown-item__has-child {
                          position: relative;

                          &:before {
                              position: absolute;
                              top: 0;
                              #{$end}: 0;
                              font-family: "icomoon";
                              content: "\e909";
                              transition: 0.2s all ease-in-out;
                              font-size: 7px;
                              transform: rotate(90deg);
                              height: 100%;

                              @if $direction == ltr {
                                  transform: rotate(270deg);
                              }
                              @else {
                                  transform: rotate(90deg);
                              }
                          }
                      }
                  }

                  > .dropdown-menu {
                      li {
                          .dropdown-menu {
                              border: none;
                              margin-top: 7px;
                          }

                          &:hover, &:active, &:focus {
                              > a {
                                  background-color: #F2F2F2;
                                  color: #C19508;
                              }
                          }

                          .dropdown-item {
                              color: var(--dark--grey-color);
                              font-size: calc(
                                var(--fontModifier) * 14px + (18 - 14) *
                                  ((100vw - 768px) / (1366 - 768))
                              );
                              line-height: 25px;
                              white-space: normal;
                          }
                      }
                  }
              }
          }
      }

      .dropdown-toggle {
          &:after {
              display: none;
          }
      }

      .header__content__accessibility {
          width: 100%;
          flex-direction: row-reverse;

          .navbar-nav {
              headercomponentlogic {
                  display: flex;

                  .nav-item {
                      &:last-child {
                          margin-#{$end}: 20px;
                      }

                      &.nav-item--show-in-mobile {
                          display: none !important;
                      }
                  }
              }

              .nav-item {
                  margin: 0 20px;
                  display: flex;
                  align-items: center;
                  color: var(--blackColor);
                  &.dropdown-menu--font-parent {
                      li {
                          a {
                              padding: 5px 20px !important;
                          }
                      }
                  }

                  &.dropdown-menu--font-parent, &.nav-item--language-switcher {
                      li {
                          height: 100%;
                      }

                      a {
                          font-family: 'Tajawal' !important;
                          direction: ltr;
                          font-size: calc(
                            var(--fontModifier) * 18px + (25 - 18) *
                              ((100vw - 768px) / (1366 - 768))
                          );


                          span {
                              &:before {
                                  font-size: 21.5px;
                              }
                          }

                          span {
                              transform: rotateY( 180deg);
                              display: inline-flex;
                          }
                      }

                      .dropdown-menu--font {
                          padding: 15px 0;
                          border-top: unset !important;
                          margin-top: 10px;
                          box-shadow: -1px 1px 3px #00000029;
                          margin-#{$start}: -20px;

                          &.show {
                              display: flex;
                              flex-direction: row;
                              /*&:before {
                                  content: "";
                                  position: absolute;
                                  width: 0;
                                  height: 0;
                                  border-left: 10px solid transparent;
                                  border-right: 10px solid transparent;
                                  border-bottom: 10px solid white;
                                  top: 0;
                                  #{$start}: 0;
                                  box-shadow: 0px 3px 3px #00000029;
                                  
                                  background: #999;
                                  transform: rotate(45deg);*/ /* Prefixes... */
                              /*top: 0;
                                  #{$start}: 0;
                                  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
                              }*/
                          }
                      }
                  }

                  &:last-child {
                      margin-#{$end}: 0;
                  }

                  .nav-link {
                      padding: 0;
                      color: var(--blackColor);
                      font-size: calc(
                        var(--fontModifier) * 18px + (24 - 18) *
                          ((100vw - 768px) / (1366 - 768))
                      );
                      display: inline-flex;
                      transition: 0.2s all ease-in-out;

                      &.constrast-icon {
                        cursor: pointer;
                      }

                      span {
                          display: inline-flex;

                          &:before {
                              color: var(--black-nav-menu-color);
                              transition: 0.2s all ease-in-out;
                          }

                          &.icon-search-icon {
                              &:before {
                                  font-size: 20.5px;
                              }
                          }

                          &.icon-contrast-icon {
                              &:before {
                                  font-size: 22.5px;
                                  color: var(--blackColor);
                              }
                          }

                          &.icon-profile-icon {
                              &:before {
                                  font-size: 25px;
                              }
                          }

                          &.icon-bell {
                              &:before {
                                  font-size: 25px;
                              }
                          }

                          &.icon-arrow-down-sign-to-navigate {
                              display: flex;
                              align-items: center;
                              padding-top: 3px;
                              margin-#{$start}: 4px;

                              &:before {
                                  font-size: 7px;
                              }
                          }

                          &.icon-dot-shape {
                              &:before {
                                  font-size: 12px;
                                  color: #FF5643;
                                  margin-#{$end}: -20px;
                                  padding-top: 1px;
                                  z-index: 5;
                              }
                          }
                      }

                      &:hover, &.show {
                          color: #C19508;

                          span {
                              color: #C19508;

                              &:before {
                                  color: #C19508;
                              }
                          }
                      }
                  }

                  .dropdown-menu {
                      min-width: auto;
                      padding: 5px 0;
                      border: none !important;
                      box-shadow: 0px 3px 3px #00000029;
                      border-radius: 0px 0px 5px 5px;
                      outline: unset !important;
                      border-top: 2px solid #C19508 !important;

                      li {
                          a {
                              color: var(--dark--grey-color);
                              padding-top: 0;
                              padding-bottom: 0;
                              padding: 3px 10px;

                              &:focus, &:active, &:hover {
                                  //background-color: #F2F2F2;
                                  color: #C19508;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}