.td-generic-slider{
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      background-size: cover;
      background-position: center;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
      display: block;
      object-fit: cover;
    }
    }
  }
  .td-generic-slider__main-slider {
    height: 80%;
    width: 100%;
  }
  .td-generic-slider__thumbs-slider  {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    .swiper-slide{
      width: 25%;
      height: 100%;
      opacity: 0.4;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .swiper-wrapper  {
      &.swiper-wrapper--center{
        justify-content:center;
        transform: unset!important;
      }
    }
    .swiper-slide-thumb-active {
    opacity: 1;
    }
  }

  }

