/*** RTL Websites ***/
$direction: rtl;
$opposite-direction: ltr;

$start: right;
$end: left;

$title-font-family: 'Almarai';
$font-family: 'Almarai';

$transform-direction: -1;
$font-path:'~@/assets/fonts/Almarai';
