/*Import module components*/
/*mixins*/
@mixin addFocusFloatingLabelStyle{
  opacity: 1;
  font-weight: bold;
  color: $fieldGroupLabelFocusColor;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}
/*mixins*/
/*variables*/
:root{
    .form-card{
      --form-card-btn-bg:#F16100;
      --form-card-btn-color:white;
      --form-card-bg:white;
      --form-card-color:black;
      --form-card-other-options : #0066c0;
    }
  }
  .invert-color{
    .form-card{
      --form-card-btn-bg:#F16100;
      --form-card-btn-color:white;
      --form-card-bg:black;
      --form-card-color:white;
      --form-card-other-options : #F16100;
    }
  }
  $formCardBtnBg : var(--form-card-btn-bg);
  $formCardBtnColor : var(--form-card-btn-color);
  $formCardBg : var(--form-card-bg);
  $formCardColor : var(--form-card-color);
  $formCardOtherOptions: var(--form-card-other-options);
  /*variables*/
  .form-card{
      display: flex;
      flex-direction: column;
      border: 1px solid lightgrey;
      border-radius: 0.3rem;
      padding: 15px 50px;
      background-color: $formCardBg;
      color: $formCardColor;
      margin-bottom: 15px;
        box-shadow: 2px 2px 3px grey;
      &:focus-within{
        box-shadow: 5px 5px 5px grey;
      }
    .form-card__title{
        font-family: $title-font-family;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 30px;
        position: relative;
        display: block;
        &:after{
          content: "";
          display: inline-block;
          width: 100%;
          #{$start}: 0;
          height: 1px;
          background-color: lightgrey ;
          position: absolute;
          bottom: -15px;
        }
      }
      .form-card__description{
        color: black;
      }
    .form-card__form{
      display: block;
      margin-bottom: 5px;
        .form-card__form__submit-btn{
          width: 100%;
          background-color: $formCardBtnBg;
          background: linear-gradient( to bottom, $formCardBtnBg  , $formCardBtnBg ) ;
          color: $formCardBtnColor;
        }
    }
    .form-card__other-options{
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      font-size: 0.8em;
      .form-card__other-options__option{
        color: $formCardOtherOptions;
        transition: all 0.2s ease-in-out;
        &:hover{
          color: orangered;
        }
        .link{
          text-decoration: none;
          &:hover{
            color:inherit;
          }
        }
        
      }
    }
  }
  /* field group colors*/
  :root{
    .td-field-group{
      --field-group-focus-label-color:#F16100;
      --field-group-label-color:black;
      --field-group-counter-color:grey;
      --field-group-error-color:red;
    }
  }
  .invert-color{
    .td-field-group{
      --field-group-focus-label-color:#F16100;
      --field-group-label-color:white;
      --field-group-error-color:white;
      --field-group-counter-color:white;
    }
  }
  $fieldGroupLabelFocusColor : var(--field-group-focus-label-color);
  $fieldGroupLabelColor : var(--field-group-label-color);
  $fieldGroupBorderColor : $fieldGroupLabelColor;
  $errorColor:var(--field-group-error-color);
  $fieldGroupCounterColor:var(--field-group-counter-color);
  $requiredColor : $errorColor;

  /*field group colors*/
  .td-field-group{
    color: inherit;
      .td-field-group__label{
          font-size: 1rem;
          color: $fieldGroupLabelFocusColor;
          line-height: 1;
      }
      .td-field-group__field{
        background-color: inherit;
        color: inherit;
        border-color: $fieldGroupLabelColor;
      }
      .td-field-group__validate-message{
      display: inline-block;
      color: $errorColor;
      font-size: 0.8em;
      }
      .td-field-group__counter{
        display: inline-block;
        float: right;
        color: $fieldGroupCounterColor;
        font-size: 0.8em;
      }
  &.td-field-group--required{
      .td-field-group__label{
      &::after{
          content: ' *';
          color: $requiredColor;
          vertical-align: super;
      }
      }
  }
  &.td-field-group--photo-picker{
    .td-field-group__field{
      display: block;
      margin: auto;
      width: 150px;
      aspect-ratio: 1;
    }
  }
  &.td-field-group--date-picker{
    .td-field-group__field{
      width: auto;
      cursor: pointer;
    }
    .td-field-group__label{
      @include addFocusFloatingLabelStyle();
    }
  }
  }
  .form-card{
    .td-field-group{
      /* bootstrap overrides*/
      &.form-floating{
        >.form-control:focus~label,
        >.form-control:not(:placeholder-shown)~label,
        >.form-select~label{
          @include addFocusFloatingLabelStyle();
        }
        .form-control:focus {
          border-color: $fieldGroupLabelFocusColor;
          box-shadow: 0 0 0 0.25rem transparent;
        }
      }
      /* bootstrap overrides*/
    }
  }