
@import "./variables.scss";
@import "./mixins.scss";
  .form-card{
    @include add-theme-colors( '--form-card-btn-bg' , map-get($td-light-theme, "primary") , map-get($td-light-theme, "primary")  );
    @include add-theme-colors( '--form-card-btn-color' , white , white);
    @include add-theme-colors( '--form-card-other-options' , map-get($td-light-theme, "primary") , map-get($td-light-theme, "primary"));
      display: flex;
      flex-direction: column;
      border: 1px solid lightgrey;
      border-radius: 0.3em;
      padding: 15px 50px;
      background-color: $formCardBg;
      color: $formCardColor;
      margin-bottom: 15px;
        box-shadow: 2px 2px 3px grey;
      &:focus-within{
        box-shadow: 5px 5px 5px grey;
      }
    .form-card__title{
        font-family: $title-font-family;
        color: $primary;
        font-size: 1.75em;
        font-weight: bold;
        margin-bottom: 30px;
        position: relative;
        display: block;
        &:after{
          content: "";
          display: inline-block;
          width: 100%;
          #{$start}: 0;
          height: 1px;
          background-color: lightgrey ;
          position: absolute;
          bottom: -15px;
        }
      }
      .form-card__description{
      }
    .form-card__form{
      display: block;
      margin-bottom: 5px;
        .form-card__form__submit-btn{
          font-size: inherit;
          width: 100%;
          background-color: $formCardBtnBg;
          background: linear-gradient( to bottom, $formCardBtnBg  , $formCardBtnBg ) ;
          color: $formCardBtnColor;
        }
    }
    .form-card__other-options{
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      font-size: 0.8em;
      .form-card__other-options__option{
        color: $formCardOtherOptions;
        transition: all 0.2s ease-in-out;
        &:hover{
          color: orangered;
        }
        .link{
          text-decoration: none;
          color: inherit;
          &:hover{
            color:inherit;
          }
        }
        
      }
    }
    .multiselect{
      color: $formCardColor;
      .multiselect__content-wrapper{
        background-color: $formCardBg;
        border-color: $fieldGroupBorderColor;
      }
    }
  }
  .td-field-group{
    @include add-theme-colors( '--field-group-focus-label-color' , map-get($td-light-theme, "primary") , map-get($td-light-theme, "primary")  );
    @include add-theme-colors( '--field-group-error-color' , red, red );
    @include add-theme-colors( '--field-group-error-bg' , rgba(red , 0.05), rgba(red , 0.05) );
    @include add-theme-colors( '--field-group-valid-color' , green, green );
    @include add-theme-colors( '--field-group-valid-bg' , rgba(green , 0.05), rgba(green , 0.05) );
    @include add-theme-colors( '--field-group-counter-color' , grey, white );
    @include add-theme-colors( '--field-group-radio' , map-get($td-light-theme, "primary"), white );
    @include add-theme-colors( '--field-group-radio-checked' , white ,black);
    @include add-theme-colors( '--field-group-icon-hover-bg' , #e7e7e7 ,transparent);
    color: inherit;
    .td-field-group__label{
        font-size: 1em;
        color: $fieldGroupLabelColor;
        line-height: 1;
    }
    &:not(.td-field-group--radio-item ){
      > .td-field-group__field{
        @include add-field-group-input($fieldGroupLabelColor);
        @include add-field-group-input-focus();
        &:not(:placeholder-shown){
          ~ .td-field-group__label {
            @include addFocusFloatingLabelStyle();
            color: $fieldGroupLabelFocusColor;
          }
          ~.td-field-group__icon-container{
            display: inline-block;
          }
        }
        &:focus{
          border-color: $fieldGroupLabelFocusColor;
          box-shadow: 0 0 0 0.25em transparent;
          ~.td-field-group__label {
            @include addFocusFloatingLabelStyle();
          }
        }

      }
    }
    .form-select~label{
      @include addFocusFloatingLabelStyle();
    }
    .td-field-group__icon-container{
        display: none;
        position:absolute;
        top: calc(2.25em + 1px);
        transform: translateY(-50%);
        padding: 0 0.75em ;
        #{$end}: 0;
        cursor: pointer;
        .td-field-group__icon-container__icon{
          padding: 0.3em;
          border-radius: 50%;
          transition: background-color 0.3s;
          &:hover{
            background-color: $field-group-icon-hover-bg;
          }
        }
    }
    .td-field-group__validate-message{
      display: inline-block;
      color: $errorColor;
      font-size: 0.8em;
      opacity: 0;
      pointer-events: none;
    }
    .td-field-group__counter{
      display: inline-block;
      float: right;
      color: $fieldGroupCounterColor;
      font-size: 0.8em;
    }
  &.td-field-group--required{
      .td-field-group__label{
      &::after{
          content: ' *';
          color: $requiredColor;
          vertical-align: super;
      }
    }
    .td-field-group__icon-container{
      // line-height: 1.75;
    }
  }
  &.td-field-group--photo-picker{
    .td-field-group__photo{
      display: block;
      margin: auto;
      width: 150px;
      height: auto;
      padding: 0;
      &.aspect-ratio{
        @include add-aspect(1);
        .aspect-ratio__inner{
          background-color: #e7e7e7;
        }
      }
      .td-field-group__field__close{
        position: absolute;
        top: 5px;
        left:50%;
        transform: translate(-50%, 0);
        color:dimgray;
        font-size: 1em;
      }
    }
  }
  &.td-field-group--date-picker{
    @include define-responsive-property(display , inline-block , inline-block , inline-block , block);
    .td-field-group__field{
      cursor: pointer;
    }
  }
  &.td-field-group--radio-list{
    .td-field-group__field{
        all: unset;
        width: 1.25em;
        height: 1.25em;
        display: inline-block;
        border: 1px solid $fieldGroupRadioColor;
        border-radius: 50%;
        position:relative;
        box-sizing: border-box;
        cursor: pointer;
        &:disabled{
          opacity: 0.5;
          pointer-events: none;
        }
        &:checked{
        background-color: $fieldGroupRadioColor;
          &::before{
            content:"";
            width: 7px;
            height: 7px;
            position:absolute;
            background: $fieldGroupCheckedRadioColor;
            display:inline-block;
            left:50%;
            top:50%;
            border-radius:50%;
            transform: translate(-50% , -50%);
          }
        }
      }
    .td-field-group__label{
      padding: 0;
    }
      .td-field-group{
        &.td-field-group--radio-item{
          display: flex; 
          align-items: center; 
          .td-field-group__label{
            margin: 0;
            cursor: pointer;
          } 
      }
    }
  }
    &.td-field-group--invalid{
    @include add-error-field-animation();
    &:not(.td-field-group--radio-list){
      .td-field-group__field{
        border-color: $errorColor;
        background-color: $field-group-error-bg;
        // background-color: rgb(red, green, blue);
        &:focus{
          border-color: $errorColor;
        }
      }
    }
    .td-field-group__validate-message{
      opacity: 1;
      pointer-events: auto;
    }
    &.td-field-group--vue-multi-select{
      .multiselect__tags{
        border-color: $errorColor;
        background-color: $field-group-error-bg;
      }
    }
    }
    &.td-field-group--valid{
    &:not(.td-field-group--radio-list){
      .td-field-group__field{
        border-color: $field-group-valid-color;
        background-color: $field-group-valid-bg;
        &:focus{
          border-color: $field-group-valid-color;
        }
      }
    }
      .td-field-group__validate-message{
        opacity: 1;
        pointer-events: auto;
      }
      &.td-field-group--vue-multi-select{
        .multiselect__tags{
          border-color: $field-group-valid-color;
          background-color: $field-group-valid-bg;
        }
      }
    }

  /*mobile*/
  @media screen and (max-width : 767px) {
    .form-card{
      padding: 15px;
      .form-card__title{
        font-size: 1.375em;
      }
    }
      .td-field-group__label {
        font-size: 0.875em;
        padding: 0.80em 0.75em;
      }
      &.td-field-group__photo{
        .td-field-group__field{
          height: auto;
          padding: 0;
        }
       }
      &.td-field-group--date-picker{
      .td-field-group__field{
        width: 100%;
      }
      }
  }
  /*mobile ends*/
}

  .multiselect{
    font-size: inherit!important;
    .multiselect__select{
      height: 100%;
      &::before{
        display: inline-block;
        top: 28%;
      }
    }
    &.multiselect--active{
      .multiselect__tags{
      border-color: $fieldGroupLabelFocusColor;
      .multiselect__input{
        color: $fieldGroupLabelFocusColor;
        font-size: inherit;
        @include define-responsive-property(line-height , 1.5 , 1.5 , 1.5 , 1.6 );
        padding: 0;
        &::placeholder{
          color: inherit;
        }
       }
      }
    }
    .multiselect__tags{
      border-color: $fieldGroupLabelColor;
      padding: 1em 0.75em;
      background-color: transparent ;
      font-size: inherit;
      line-height: 1;
      .multiselect__placeholder{
        color: inherit;
        margin: 0;
        font-size: inherit;
        padding: 0;
       @include define-responsive-property(line-height , 1.5 , 1.5 , 1.5 , 1.6 );

      }
      .multiselect__single{
        margin: 0;
        background-color: transparent;
        @include define-responsive-property(line-height , 1.5 , 1.5 , 1.5 , 1.6 );
        padding: 0;
        font-size: inherit;
      }
      .multiselect__input{
       margin: 0;
       background-color: transparent;
       @include define-responsive-property(line-height , 1.5 , 1.5 , 1.5 , 1.6 );
      }
    }
    .multiselect__content-wrapper{
      .multiselect__content{
        .multiselect__element{
          .multiselect__option{
            &.multiselect__option--highlight{
              background: transparent;
              color: inherit;
            }
            &.multiselect__option--selected{
              background: transparent;
              color: map-get($map: $td-light-theme, $key: 'primary' );
              &::after{
                content: "";
              }
            }
          }
        }
      }
    }
    @media screen and(max-width:767px) {
      .multiselect__select{
      }
      &.multiselect--active{
        .multiselect__tags{
        .multiselect__input{
          &::placeholder{
          }
         }
        }
      }
      .multiselect__tags{
        padding: 0.80em 0.75em;
        .multiselect__placeholder{
          &::placeholder{
          }
        }
        .multiselect__single{
        }
        .multiselect__input{
        }
      }
      .multiselect__content-wrapper{
        .multiselect__content{
          .multiselect__element{
            .multiselect__option{
              &.multiselect__option--highlight{
              }
              &.multiselect__option--selected{
              }
            }
          }
        }
      }
    }
  }