
/*form colors*/
$formCardBtnBg : var(--form-card-btn-bg);
$formCardBtnColor : var(--form-card-btn-color);
$formCardBg : $secondary-bg;
$formCardColor : $primary-color;
$formCardOtherOptions: var(--form-card-other-options);
/*form colors*/
/* field group colors*/
$fieldGroupLabelFocusColor : var(--field-group-focus-label-color);
$fieldGroupLabelColor : $secondary-color;
$fieldGroupBorderColor : $fieldGroupLabelColor;
$errorColor:var(--field-group-error-color);
$field-group-error-bg:var(--field-group-error-bg);
$field-group-valid-color:var(--field-group-valid-color);
$field-group-valid-bg:var(--field-group-valid-bg);
$fieldGroupCounterColor:var(--field-group-counter-color);
$requiredColor : $errorColor;
$fieldGroupRadioColor : var(--field-group-radio);
$fieldGroupCheckedRadioColor : var(--field-group-radio-checked);
$field-group-icon-hover-bg : var(--field-group-icon-hover-bg);
/*field group colors*/