/*Import mixins and variables*/
@import '../sass/icomoon/style.scss';
@import "Abstract/_mixins.scss";
@import "Abstract/_variables.scss";
body{
    font-family: $font-family;
    font-weight: normal;
    background-color: $primary-bg;
}
/*Import Modules*/
@import "../../modules/global/styles/main.scss";

.title-description{
    color: $primary-color;
    text-align: start;
}
