/*Import mixins and variables*/
@import '../sass/icomoon/style.scss';
@import "Abstract/_mixins.scss";
@import "Abstract/_variables.scss";

@include add-site-themes-colors($td-light-theme , $td-dark-theme );
:root{
    font-size: calc( var( --fontModifier ) * var(--bs-body-font-size) );
}
body{
    font-family: $font-family;
    font-weight: normal;
    background-color: $primary-bg;
}
.cursor-pointer{
    cursor: pointer;
}

.title-description{
    @include add-theme-colors( '--primary' , map-get($td-light-theme, "primary") , black  );
    &.title-description--center{
    // @include apply-animation('scale-animation' , 1s);
    }
    color: $primary;
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    // @include apply-animation('from-top-zoom-in' , 1s);
}
.title{
    @include add-title('inherit');
    &.title--dimmed{
        color : #767676;
    }
}
.aspect-ratio {
    position: relative;
    .aspect-ratio__inner {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
        left:0;
        right:0;
        bottom:0;
        .aspect-ratio__inner__img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
@media screen and(max-width : 767px) {
    body{
        font-size: 0.875rem;
    }
}


@import "./Components/Components.scss";